# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
/JBD.ProjetoTesteEveris/.vs/JBD.ProjetoTesteEveris/v15
/JBD.ProjetoTesteEveris/JBD.ProjetoTesteEveris.Application/obj/Debug/netcoreapp2.2
/JBD.ProjetoTesteEveris/JBD.ProjetoTesteEveris.Application/obj
/JBD.ProjetoTesteEveris/JBD.ProjetoTesteEveris.CrossCutting/obj/Debug/netcoreapp2.2
/JBD.ProjetoTesteEveris/.vs/config
/JBD.ProjetoTesteEveris/JBD.ProjetoTesteEveris.CrossCutting/obj
/JBD.ProjetoTesteEveris/JBD.ProjetoTesteEveris.Data/obj/Debug/netcoreapp2.2
/JBD.ProjetoTesteEveris/JBD.ProjetoTesteEveris.Data/obj
/JBD.ProjetoTesteEveris/JBD.ProjetoTesteEveris.Domain/obj/Debug/netcoreapp2.2
/JBD.ProjetoTesteEveris/JBD.ProjetoTesteEveris.Domain/obj
/JBD.ProjetoTesteEveris/JBD.ProjetoTesteEveris.Test.Admin/obj
/JBD.ProjetoTesteEveris/JBD.ProjetoTesteEveris.WebAdmin/obj/Debug/netcoreapp2.2
/JBD.ProjetoTesteEveris/JBD.ProjetoTesteEveris.WebAdmin/obj
/JBD.ProjetoTesteEveris/JBD.ProjetoTesteEveris.WebApiAdmin/obj
/JBD.ProjetoTesteEveris/JBD.ProjetoTesteEveris.WebApiAdmin/bin/Release/netcoreapp2.2
/JBD.ProjetoTesteEveris/JBD.ProjetoTesteEveris.Application/bin/Release/netcoreapp2.2
/JBD.ProjetoTesteEveris/JBD.ProjetoTesteEveris.CrossCutting/bin/Release/netcoreapp2.2/JBD.ProjetoTesteEveris.CrossCutting.deps.json
/JBD.ProjetoTesteEveris/JBD.ProjetoTesteEveris.Data/bin/Release/netcoreapp2.2/JBD.ProjetoTesteEveris.Data.deps.json
/JBD.ProjetoTesteEveris/JBD.ProjetoTesteEveris.Domain/bin/Release/netcoreapp2.2/JBD.ProjetoTesteEveris.Domain.deps.json
